.header_quiz-title {
  background-color: var(--header-footer-background-color);
  text-align: center;
  color: rgb(51, 54, 190);
  padding: 10px;
  height: 60px;
  font-size: 20px;
  position: fixed;
  width: 100%;
  top: 0;
}
